<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性,用于指定当前的映射文件和哪个接口进行映射，需要指定接口的文件路径，需要标注包完整路径-->
<mapper namespace="com.cy.store.mapper.UserMapper">

    <!--自定义映射规则:resultMap-->
    <!--
        id: 给映射分配一个唯一的id值
        type: 取值是一个类，表示的是数据库中的查询结果与java中那个实体类进行结果集映射
    -->
    <!--定义规则时主键不可以省略-->
    <resultMap id="UserEntityMap" type="com.cy.store.entity.User">
        <result column="uid" property="uid"></result>
        <result column="is_delete" property="isDelete"></result>
        <result column="create_User" property="createdUser"></result>
        <result column="create_time" property="createdTime"></result>
        <result column="modified_user" property="modifiedUser"></result>
        <result column="modified_time" property="modifiedTime"></result>
    </resultMap>


    <!--id的值表示映射接口的方法名称，直接在标签的内容部来编写SQL语句-->
    <!--MyBatis不会让uid不会自增
       useGeneratedKeys="true" 开启自增
       keyProperty="uid"  表示将指定字段自增
    -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="uid">
        INSERT INTO t_user(
           username, password, salt, phone, email, gender, avatar,
           is_delete, created_user, created_time, modified_user, modified_time
        )VALUES(
           #{username}, #{password}, #{salt},#{phone}, #{email}, #{gender}, #{avatar},
           #{isDelete}, #{createdUser}, #{createdTime}, #{modifiedUser}, #{modifiedTime}
        )<!--1.不能有分号 2.驼峰命名-->
    </insert>

    <!--SELECT

       resultType:表示查询结果，只需要指定对应映射类的类型，并且包含完整映射接口：
       resultMap:标签与类的对象属性不一样时，来自定义查询结规则
    -->

    <select id="findByUsername" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE username = #{username};
    </select>

    <select id="findByUid" resultMap="UserEntityMap">
        SELECT * FROM t_user WHERE uid = #{uid}
    </select>


    <update id="updatePasswordByUid">
        UPDATE t_user SET
               password=#{password},
               modified_user=#{modifiedUser},
               modified_time=#{modifiedTime}
        WHERE
               uid=#{uid}

    </update>


    <update id="updateInfoByUid">
        UPDATE t_user
        SET
        <if test="phone!=null">
           phone=#{phone},
        </if>
        <if test="email!=null">
           email=#{email},
        </if>
        <if test="gender!=null">
           gender=#{gender},
        </if>
           modified_user=#{modifiedUser},
           modified_time=#{modifiedTime}
       WHERE  uid=#{uid}
    </update>

    <update id="updateAvatarByUid">
        UPDATE t_user
        SET
            avatar=#{avatar},
            modified_user=#{modifiedUser},
            modified_time=#{modifiedTime}
        WHERE
            uid=#{uid}
    </update>

</mapper>


        <!--在mybatis-config.xml中，使用包引入映射文件的代码-->

